<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IoTConnectDemo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>045230EE60DA5A7EE88775DD25C78DFC1B281AE5</string>
				<key>dateExpires</key>
				<string>20/04/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>045230EE60DA5A7EE88775DD25C78DFC1B281AE5</string>
						<key>dateExpires</key>
						<string>20/04/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IoTConnect_2_0.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85Z6DRR6M5</string>
						<key>name</key>
						<string>Softweb Solutions Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>85Z6DRR6M5.com.softweb.test</string>
				<key>com.apple.developer.team-identifier</key>
				<string>85Z6DRR6M5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>IoTConnectDemo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>372fc712-8775-4425-9f9f-57249e80a8ab</string>
				<key>dateExpires</key>
				<string>23/04/24</string>
				<key>name</key>
				<string>Emergency Distribution Profile 2023</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>85Z6DRR6M5</string>
				<key>name</key>
				<string>Softweb Solutions Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
